.header_container{

    height: 4rem;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_title h1{
   
   color: #0F0F2D;
}

.btn_create button{
    width: 15rem;
    height: 3rem;

    border: none;
    border-radius: 5px;

    background-color: #555a88;
    color: white;
}



