.footer_container{

    position: fixed;
    bottom: 0;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:rgba(0, 0, 0, 0.478) ;
  }
  .createBy{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
  
    min-height: 40px;
    background-color: var(--light_red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  
    color: #f30a0a;
  }