.user_form{
    padding: 3.2rem 3.2rem 3.8rem;
    position: relative;

    
   
    background: #FFFFFF;

}
.user_title{
    margin: 0;
}

.user_form_btn_close{
    position: absolute;
    top: 2.6rem;
    right: 3.6rem;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.user_form_label{
   
}