*,
*::after,
*::before{
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}
body{
  font-size: 1.6rem;
  min-width: 320px;
}
